.datepicker {
  display: inline-block;
  user-select: none;
}
.datepicker .months-wrapper {
  border: 1px solid gray;
}
.month-wrapper {
  display: inline-block;
  vertical-align: top;
}
.month-wrapper .month-title {
  display: flex;
  justify-content: center;
}
.month-wrapper .month {
  padding: 4px;
}
.month-wrapper .month .week + .week {
  margin-top: 4px;
}
.day {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
}
.day + .day {
  margin-left: 4px;
  color: #000;
}
.day:hover {
  background: rgba(0, 128, 0, 0.5);
}
.day:hover.in-range, .day:hover.selected {
  border-color: green;
}
.day.today {
  border-color: blue;
}
.day.grayout {
  opacity: 0.2;
}
.day.weekend {
  color: red;
}
.day.in-range {
  background: lightblue;
}
.day.selected {
  background: pink;
}
.controls {
  display: flex;
  margin-top: 4px;
}
.controls > button {
  flex: 1 1 auto;
}
.controls > button + button {
  margin-left: 4px;
}
.inputs-wrapper {
  margin-top: 10px;
}
