.fc{
  font-family: "Poppins", sans-serif;
}
.fc-theme-standard td {
  border-color:var(--date-cell-border-color, #e9e9e9) ;
  opacity: 1;
}

.fc .fc-daygrid-day-number {
  color: var(--date-number-color, #3b3b3b);
  font-size: 12px;
  font-weight: 600;
}
.fc .fc-col-header-cell-cushion {
  color: var(--header-cell-color, #929292);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
.fc .fc-bg-event {
  background-color: var(--date-cell-background-color, #3b3b3b);
  opacity: 0.98;
}
.fc .fc-toolbar-title {
  font-size: 14px;
  margin: 0px;
  font-weight: 600;
  color: var(--date-number-color, #3b3b3b);
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 22px;
  padding-bottom: 10px;
  padding-left: 26px;
  padding-right: 26px;
}
.fc .fc-button-primary:not(:disabled).fc-button-active,
.fc .fc-button-primary:not(:disabled):active {
  background-color: var(--button-active-bg-color, #665cd7);
  border-color: var(--button-active-border-color, #665cd7);
  color: var(--button-text-color, #ffffff);
  font-size: 12px;
  border-radius: 4px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end,
.fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  display: flex;
  justify-content: space-between;
  margin: 3px 6px;
  align-items: center;
  padding: 0px;
  border: none;
}

.fc .fc-button-primary {
  background-color: var(--button-bg-color, #fff);
  border-color: var(--button-border-color, #fff);
  color: var(--button-text-color, #000);
  font-size: 12px;
  border-radius: 4px;
}
.fc .fc-button-primary:hover {
  background-color: var(--button-active-bg-color, #665cd7);
  border-color: var(--button-active-border-color, #665cd7);
  color: var(--button-text-color, #ffffff);
  font-size: 12px;
  border-radius: 4px;
}
.fc .fc-daygrid-day.fc-day-today {
  background-color: #665cd712;
}

.fc .fc-button-primary:disabled {
  background-color: var(--button-bg-color, #eaeaea);
  border-color: var(--button-border-color, #eaeaea);
  color: var(--button-text-color, #000);
}
.fc .fc-timegrid-slot-label-cushion {
  display: inline-block;
  white-space: nowrap;
  color: #000;
}
.fc .fc-timegrid-axis-cushion {
  flex-shrink: 0;
  color: #000;
  max-width: 60px;
  font-size: 14px;
}
.hoverable {
  position: relative;
  cursor: pointer;
}

.hoverable:hover {
  background-color: lightgray;
}

.add-event-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  padding: 5px;
  border: 1px solid lightgray;
}

#calendarWrapper {
  position: relative;
}

#tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 4px;
}

#calendarWrapper:hover #tooltip {
  display: block;
}

.link {
  color: 'red';
}
.fc .fc-popover-title {
  margin: 0px 2px;
  color: #000;
}
.fc .fc-popover-close {
  color: #000;
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width)/2) solid #000;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px;
  color:#000
}
.fc-daygrid-dot-event .fc-event-title {
  color:#000;
  font-family: "Poppins", sans-serif;
}
.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
  padding: 1px;
  color: #000;
  font-family: "Poppins", sans-serif;

}